{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Cultural Council</title>
<link href="{% static 'css/contact.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <header>
        <div  id="topbar" class="wrapper row0">
              <div class="login">
                    {% if request.user.is_authenticated %}
                        <a name="top"></a><img src="{% static 'images/avatar.jpg' %}" width="15px" height="15px" ></a> &nbsp;
                        <a style="text-decoration:none;color:pink" href="{% url 'dashboard' %}">{{ uid }}</a> (
                        <a style="text-decoration:none;color:pink" href="{% url 'logout' %}"> logout</a>)
                    {% else %}
                        <a name="top"></a><img src="{% static 'images/login_logo.png' %}" width="15px" height="15px" ></a> &nbsp;
                        <a style="text-decoration:none;color:pink" href="{% url 'login' %}">LOGIN</a> /
                        <a style="text-decoration:none;color:pink" href="{% url 'signup' %}"> SIGNUP</a> 
                    {% endif %}
              </div>
                    <img src="{% static 'images/call_logo.svg' %}" width="15px" height="15px" >
                    &nbsp; &nbsp; +91-919-813-8020
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <img src="{% static 'images/mail_logo.jpg' %}" width="20px" height="15px" >
                    &nbsp; &nbsp; gensec.cultural@iitbhu.ac.in 
                     
              
        </div>
    </header>
<div style="background-color:white">
    <a href="{% url 'index' %}"><img class="logo1" src="{% static 'images/logo.png' %}"></a>
</div>
<header>
    <div  id="menubar" class="wrapper row0">
        <a style="text-decoration:none;color:grey" href="{% url 'index' %}">HOME</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="dropdown">
            <a href="{% url 'members' %}"><button class="dropbtn">MEMBERS</button></a>
            <div class="dropdown-content">
                <a href="{% url 'masqmem' %}">Masquerades</a>
                <a href="{% url 'wmcmem' %}">Western Music Club</a>
                <a href="{% url 'quizmem' %}">Quiz Club</a>
                <a href="{% url 'facmem' %}">Fine Arts Club</a>
                <a href="{% url 'imcmem' %}">Indian Music Club</a>
                <a href="{% url 'dfzmem' %}">Dance Freakz</a>
                <a href="{% url 'litmem' %}">Literary Club</a>
            </div>
        </div>&nbsp; &nbsp; &nbsp; &nbsp;
        
        <div class="dropdown">
            <a href="{% url 'alumini' %}"><button class="dropbtn">ALUMINI</button></a>
            <div class="dropdown-content">
                <a href="{% url 'masqalum' %}">Masquerades</a>
                <a href="{% url 'wmcalum' %}">Western Music Club</a>
                <a href="{% url 'quizalum' %}">Quiz Club</a>
                <a href="{% url 'facalum' %}">Fine Arts Club</a>
                <a href="{% url 'imcalum' %}">Indian Music Club</a>
                <a href="{% url 'dfzalum' %}">Dance Freakz</a>
                <a href="{% url 'litalum' %}">Literary Club</a>
            </div>
        </div>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'sponsors' %}">SPONSORS</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'merchandise' %}">MERCHANDISE</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'events' %}">EVENTS</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'contact' %}">CONTACT US</a>
    </div>
</header>
<br>
      
<div id="cont">
    
    <div id="data">
            <h1 style="color:grey;"><u>CONTACT</u></h1>
            &nbsp; &nbsp; &nbsp; &nbsp;Ashutosh Prakarsh Pandey<br>
            &nbsp; &nbsp; &nbsp; &nbsp;General Secretary<br>
            &nbsp; &nbsp; &nbsp; &nbsp;+91-919-813-8020<br><br>


            &nbsp; &nbsp; &nbsp; &nbsp;Priyanshi Porwal<br>
            &nbsp; &nbsp; &nbsp; &nbsp;Joint General Secretary<br>
            &nbsp; &nbsp; &nbsp; &nbsp;+91-919-813-8020<br><br>


            &nbsp; &nbsp; &nbsp; &nbsp;Udit Raj Somani<br>
            &nbsp; &nbsp; &nbsp; &nbsp;Joint General Secretary<br>
            &nbsp; &nbsp; &nbsp; &nbsp;+91-919-813-8020<br><br>

            &nbsp; &nbsp; &nbsp; &nbsp;Mail us at<br>
            &nbsp; &nbsp; &nbsp; &nbsp;gensec.cultural@iitbhu.ac.in 
    </div>

    <div id="map" style="width:350px;height:350px">Find Us Here!!!!</div>
    <script>
        function myMap() {
            var mapOptions = {
                center: new google.maps.LatLng(25.2623, 82.9894),
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.HYBRID
            }
        var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=myMap"></script>
</div>


<div class="feedback">
    <form id="Feedback" action="/contact/" method="POST">
        {% csrf_token %}
        {% if messages %}
        <center>
        <div style="max-width:550px;">
            {% for message in messages %}
            <div {% if message.tags == 'error' %} class="alert alert-danger" role="alert" {% else %} class="alert alert-success" {% endif %}>{{ message }}</div>
            {% endfor %}
        </div>
        </center>
        {% endif %}
        {% if request.user.is_authenticated %}
            <label for="fname">Name &nbsp;</label>
            <input type="text" id="fname" name="name" placeholder= {{ uid }} readonly><br>

            <label for="mid">Mail id</label>
            <input type="text" id="mid" name="mailid" placeholder= {{ mid }} readonly><br>
        {% else %}
            <label for="fname">Name &nbsp;</label>
            <input type="text" id="fname" name="name" required placeholder="Your name.."><br>

            <label for="mid">Mail id</label>
            <input type="text" id="mid" name="mailid" required placeholder="Your mail id.."><br>
        {% endif %}
        <label for="sub">Subject</label>
        <input type="text" id="sub" name="subject" required placeholder="Subject"><br>
  
        <label for="content">Content</label><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <textarea id="content" name="content" required placeholder="Write something.." style="height:150px"></textarea><br>
  
        <input type="submit" value="Submit">
        {% if request.user.is_superuser %}
            <br>
            <br>
            <center>
                <div class="container" style="background-color:#f1f1f1">
                    <a href="{% url 'feedback' %}"><button type="button" class="sfeed">Show Feedbacks</button></a>
                </div>
            </center>
        {% endif %}
    </form>
  </div>


  <div id="footer">
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'index' %}">HOME</a> &nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'members' %}">MEMBERS</a> &nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'alumini' %}">ALUMINI</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'sponsors' %}">SPONSORS</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'merchandise' %}">MERCHANDISE</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'events' %}">EVENTS</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'contact' %}">CONTACT US</a>
        <br>
        <br>
        <br>
        <div id="xoxo">
        Copyright @2017 <br>
        Site developed by Akshal
        <div id="links">
                <a href="https://www.facebook.com/cultcouncil.iitbhu/"><img style="padding-bottom: 20px" src="{% static 'images/fblogo.png' %}" width="45px" height="45px" ></a>&nbsp; &nbsp;  
                <a href="https://www.instagram.com/cultcouncil.iitbhu/"><img style="padding-bottom: 0px" src="{% static 'images/instagram.png' %}" width="85px" height="85px" ></a>
        </div>
        </div>
    </div>
</body>
</html>