{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Cultural Council</title>
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body style="background-color:grey">
  <header>
      <div  id="topbar" class="wrapper row0">
            <div class="login">
                  {% if request.user.is_authenticated %}
                      <a name="top"></a><img src="{% static 'images/avatar.jpg' %}" width="15px" height="15px" ></a> &nbsp;
                      <a style="text-decoration:none;color:pink" href="{% url 'dashboard' %}">{{ uid }}</a> (
                        <a style="text-decoration:none;color:pink" href="{% url 'logout' %}"> logout</a>)
                  {% else %}
                      <a name="top"></a><img src="{% static 'images/login_logo.png' %}" width="15px" height="15px" ></a> &nbsp;
                      <a style="text-decoration:none;color:pink" href="{% url 'login' %}">LOGIN</a> /
                      <a style="text-decoration:none;color:pink" href="{% url 'signup' %}"> SIGNUP</a> 
                  {% endif %}
            </div>
                  <img src="{% static 'images/call_logo.svg' %}" width="15px" height="15px" >
                  &nbsp; &nbsp; +91-919-813-8020
                  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                  <img src="{% static 'images/mail_logo.jpg' %}" width="20px" height="15px" >
                  &nbsp; &nbsp; gensec.cultural@iitbhu.ac.in 
                    
            
      </div>
  </header>
<div style="background-color:white">
  <a href="{% url 'index' %}"><img class="logo1" src="{% static 'images/logo.png' %}"></a>
</div>
<header>
    <div  id="menubar" class="wrapper row0">
        <a style="text-decoration:none;color:grey" href="{% url 'index' %}">HOME</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="dropdown">
            <a href="{% url 'members' %}"><button class="dropbtn">MEMBERS</button></a>
            <div class="dropdown-content">
                <a href="{% url 'masqmem' %}">Masquerades</a>
                <a href="{% url 'wmcmem' %}">Western Music Club</a>
                <a href="{% url 'quizmem' %}">Quiz Club</a>
                <a href="{% url 'facmem' %}">Fine Arts Club</a>
                <a href="{% url 'imcmem' %}">Indian Music Club</a>
                <a href="{% url 'dfzmem' %}">Dance Freakz</a>
                <a href="{% url 'litmem' %}">Literary Club</a>
            </div>
        </div>&nbsp; &nbsp; &nbsp; &nbsp;
        
        <div class="dropdown">
            <a href="{% url 'alumini' %}"><button class="dropbtn">ALUMINI</button></a>
            <div class="dropdown-content">
                <a href="{% url 'masqalum' %}">Masquerades</a>
                <a href="{% url 'wmcalum' %}">Western Music Club</a>
                <a href="{% url 'quizalum' %}">Quiz Club</a>
                <a href="{% url 'facalum' %}">Fine Arts Club</a>
                <a href="{% url 'imcalum' %}">Indian Music Club</a>
                <a href="{% url 'dfzalum' %}">Dance Freakz</a>
                <a href="{% url 'litalum' %}">Literary Club</a>
            </div>
        </div>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'sponsors' %}">SPONSORS</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'merchandise' %}">MERCHANDISE</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'events' %}">EVENTS</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'contact' %}">CONTACT US</a>
    </div>
  </header>
          <br>
          <br>
          <br>
          <div class="nam"><center><b><i>{{ uid }}</i></b></center></div>
    <div class="profile">   
            
            <form id="editprofile_form" action="/editprofile/" method="POST">
                {% csrf_token %}
                {% if messages %}
                    <br>
                    <br>
                    <center>
                        <div style="max-width:550px;">
                            {% for message in messages %}
                            <div {% if message.tags == 'error' %} class="alert alert-danger" role="alert" {% else %} class="alert alert-success" {% endif %}>{{ message }}</div>
                            {% endfor %}
                        </div>
                    </center>
                {% endif %}
                <div class="container">
                    <br><br>
                    <label><b>Name</b></label>
                    <input type="text" placeholder="Enter your name" name="name" required>
                    <br><br>
                    <label><b>Email Address</b></label>
                    <input type="text" placeholder="Enter Email Address" name="email" required>
                    <br><br>
                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw1" required>
                    <br><br>
                    <label><b>Confirm your Password</b></label>
                    <input type="password" placeholder="Enter Password again" name="psw2" required>
                    <br><br>
                    <label><b>Mob No</b></label>
                    <input type="text" placeholder="Enter Mobile No." name="mob" required>
                    <br><br>
                    <label><b>Batch</b></label>
                    <input type="text" placeholder="Enter Batch" name="batch" required>
                    <br><br>
                    <label><b>Branch</b></label> &nbsp;&nbsp;&nbsp;&nbsp;
                    <select name="branch">
                        <option value="CSE">CSE</option>
                        <option value="MECH">MECH</option>
                        <option value="ECE">ECE</option>
                        <option value="EEE">EEE</option>
                        <option value="CIV">CIV</option>
                        <option value="CHEM">CHEM</option>
                        <option value="MIN">MIN</option>
                        <option value="META">META</option>
                        <option value="Pharma">Pharma</option>
                        <option value="Applied">Applied</option>
                        </select>
                        <br><br>
                    <button type="submit">Confirm</button>
                    <br>
                    <br>
                </div>
            </form>
    </div>




    <div id="footer">
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'index' %}">HOME</a> &nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'members' %}">MEMBERS</a> &nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'alumini' %}">ALUMINI</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'sponsors' %}">SPONSORS</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'merchandise' %}">MERCHANDISE</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'events' %}">EVENTS</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'contact' %}">CONTACT US</a>
        <br>
        <br>
        <br>
        <div id="xoxo">
        Copyright @2017 <br>
        Site developed by Akshal
        <div id="links">
                <a href="https://www.facebook.com/cultcouncil.iitbhu/"><img style="padding-bottom: 20px" src="{% static 'images/fblogo.png' %}" width="45px" height="45px" ></a>&nbsp; &nbsp;  
                <a href="https://www.instagram.com/cultcouncil.iitbhu/"><img style="padding-bottom: 0px" src="{% static 'images/instagram.png' %}" width="85px" height="85px" ></a>
        </div>
        </div>
    </div>
</body>
</html>