{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Cultural Council</title>
<link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body>
    <header>
        <div  id="topbar" class="wrapper row0">
              <div class="login">
                    {% if request.user.is_authenticated %}
                        <a name="top"></a><img src="{% static 'images/avatar.jpg' %}" width="15px" height="15px" ></a> &nbsp;
                        <a style="text-decoration:none;color:pink" href="{% url 'dashboard' %}">{{ uid }}</a> (
                        <a style="text-decoration:none;color:pink" href="{% url 'logout' %}"> logout</a>)
                    {% else %}
                        <a name="top"></a><img src="{% static 'images/login_logo.png' %}" width="15px" height="15px" ></a> &nbsp;
                        <a style="text-decoration:none;color:pink" href="{% url 'login' %}">LOGIN</a> /
                        <a style="text-decoration:none;color:pink" href="{% url 'signup' %}"> SIGNUP</a> 
                    {% endif %}
              </div>
                    <img src="{% static 'images/call_logo.svg' %}" width="15px" height="15px" >
                    &nbsp; &nbsp; +91-919-813-8020
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    <img src="{% static 'images/mail_logo.jpg' %}" width="20px" height="15px" >
                    &nbsp; &nbsp; gensec.cultural@iitbhu.ac.in 
                     
              
        </div>
    </header>
    <a href="{% url 'index' %}"><img class="logo1" src="{% static 'images/logo.png' %}"></a>
<header>
    <div  id="menubar" class="wrapper row0">
        <a style="text-decoration:none;color:grey" href="{% url 'index' %}">HOME</a> &nbsp; &nbsp; &nbsp; &nbsp;
        <div class="dropdown">
            <a href="{% url 'members' %}"><button class="dropbtn">MEMBERS</button></a>
            <div class="dropdown-content">
                <a href="{% url 'masqmem' %}">Masquerades</a>
                <a href="{% url 'wmcmem' %}">Western Music Club</a>
                <a href="{% url 'quizmem' %}">Quiz Club</a>
                <a href="{% url 'facmem' %}">Fine Arts Club</a>
                <a href="{% url 'imcmem' %}">Indian Music Club</a>
                <a href="{% url 'dfzmem' %}">Dance Freakz</a>
                <a href="{% url 'litmem' %}">Literary Club</a>
            </div>
        </div>&nbsp; &nbsp; &nbsp; &nbsp;
        
        <div class="dropdown">
            <a href="{% url 'alumini' %}"><button class="dropbtn">ALUMINI</button></a>
            <div class="dropdown-content">
                <a href="{% url 'masqalum' %}">Masquerades</a>
                <a href="{% url 'wmcalum' %}">Western Music Club</a>
                <a href="{% url 'quizalum' %}">Quiz Club</a>
                <a href="{% url 'facalum' %}">Fine Arts Club</a>
                <a href="{% url 'imcalum' %}">Indian Music Club</a>
                <a href="{% url 'dfzalum' %}">Dance Freakz</a>
                <a href="{% url 'litalum' %}">Literary Club</a>
            </div>
        </div>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'sponsors' %}">SPONSORS</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'merchandise' %}">MERCHANDISE</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'events' %}">EVENTS</a>&nbsp; &nbsp; &nbsp; &nbsp;
        <a style="text-decoration:none;color:grey" href="{% url 'contact' %}">CONTACT US</a>
    </div>
  </header>
    <img id="cover" src="{% static 'images/cover.jpg' %}" usemap="#clubs">
    <map name="clubs">
        <area shape="rect" class="club" id="r1" coords="5,5,165,400" href="{% url 'Masquerades' %}"  title="Masquerades" alt="Youtube" />
        <area shape="rect" class="club" id="r2" coords="185,5,345,400" href="{% url 'Western Music Club' %}" title="Western Music Club" alt="Western Music Club" />
        <area shape="rect" class="club" id="r3" coords="360,5,520,400" href="{% url 'Quiz Club' %}" title="Quiz Club" alt="Quiz Club" />
        <area shape="rect" class="club" id="r4" coords="535,5,695,400" href="{% url 'Fine Arts Club' %}" title="Fine Arts Club" alt="Fine Arts Club" />
        <area shape="rect" class="club" id="r5" coords="710,5,870,400" href="{% url 'Indian Music Club' %}" title="Indian Music Club" alt="Indian Music Club" />
        <area shape="rect" class="club" id="r6" coords="885,5,1045,400" href="{% url 'Dance Freakz' %}" title="Dance Freakz" alt="Dance Freakz" />
        <area shape="rect" class="club" id="r7" coords="1060,5,1210,400" href="{% url 'Literary Club' %}" title="Literary Club" alt="Literary Club" />
        <area shape="default" href="{% url 'index' %}" title="Cultural Council" alt="Cultural Council"/>
    </map>
    <div  id="info">
        This is the official website for The Cultural Council of IIT (BHU) Varanasi. Cultural Council is a non-profitable student body of IIT (BHU) Varanasi which manages a plethora of events, workshops and club activities spread over seven genres.
    </div>

    <div id="clubs">
        <u>CLUBS</u> :
        </br>
        </br>
        <div class="image">
            <a href="{% url 'Masquerades' %}"><img src="{% static 'images/Theatre_logo.jpg' %}" alt="Theatre Club" width="250px" height="250px" /></a>
            <div class="text">Masquerades</div>
        </div>
        <div class="image">
            <a href="{% url 'Western Music Club' %}"><img src="{% static 'images/WMC_logo.jpg' %}" alt="Western Music Club" width="250px" height="250px" /></a>
            <div class="text">Western Music Club</div>
        </div>
        
        <div class="image">
            <a href="{% url 'Quiz Club' %}"><img src="{% static 'images/QC_logo.png' %}" alt="Quiz Club" width="250px" height="250px" /></a>
            <div class="text">Quiz Club</div>
        </div>
        <div class="image">
            <a href="{% url 'Fine Arts Club' %}"><img src="{% static 'images/FAC_logo.jpg' %}" alt="Fine Arts Club" width="250px" height="250px" /></a>
            <div class="text">Fine Arts Club</div>
        </div>
        <div class="image">
            <a href="{% url 'Indian Music Club' %}"><img src="{% static 'images/IMC_logo.jpg' %}" alt="Indian Music Club" width="250px" height="250px" /></a>
            <div class="text">Indian Music Club</div>
        </div>
        <div class="image">
            <a href="{% url 'Dance Freakz' %}"><img src="{% static 'images/DFZ_logo.jpg' %}" alt="Dance Freakz" width="250px" height="250px" /></a>
            <div class="text">Dance Freakz</div>
        </div>
        <div class="image">
            <a href="{% url 'Literary Club' %}"><img src="{% static 'images/LIT_logo.jpg' %}" alt="Literary Club" width="250px" height="250px" /></a>
            <div class="text">Literary Club</div>
        </div>
    </div>

    <div id="events">
        <u>RECENT EVENTS</u> :
        <br>
        <br>
        {% for fb in data %}
            <div class="imag">
                <img src="{% static fb.5 %}" alt="event" width="250px" height="300px" />
            </div>
        {% endfor %}
        <br>
        <a style="text-decoration:none;color:pink;margin-top:350px" href="{% url 'events' %}">See More......</a>
        
    </div>

    <div id="footer">
        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'index' %}">HOME</a> &nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'members' %}">MEMBERS</a> &nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'alumini' %}">ALUMINI</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'sponsors' %}">SPONSORS</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'merchandise' %}">MERCHANDISE</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'events' %}">EVENTS</a>&nbsp; &nbsp; | &nbsp; &nbsp;
        <a style="text-decoration:none;color:white" href="{% url 'contact' %}">CONTACT US</a>
        <br>
        <br>
        <br>
        <div id="xoxo">
        Copyright @2017 <br>
        Site developed by Akshal
        <div id="links">
                <a href="https://www.facebook.com/cultcouncil.iitbhu/"><img style="padding-bottom: 20px" src="{% static 'images/fblogo.png' %}" width="45px" height="45px" ></a>&nbsp; &nbsp;  
                <a href="https://www.instagram.com/cultcouncil.iitbhu/"><img style="padding-bottom: 0px" src="{% static 'images/instagram.png' %}" width="85px" height="85px" ></a>
        </div>
        </div>
    </div>
</body>
</html>